
.cerca {
  width: 100%;
  height: 64px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2px;
  overflow: hidden;
}
.rettangolotop {
  width: 100%;
  height: 62px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
 }
.Whork {
  width: 147px;
  position: absolute;
  top: 10px;
  left: 17px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Bungee Shade;
  font-weight: Regular;
  font-size: 33px;
  opacity: 1;
  text-align: left;
}
.registrati {
  width: 132px;
  height: 62px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 90%;
  overflow: hidden;
}
.rettangolor {
  width: 132px;
  height: 62px;
  background: rgba(255,32,110,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.button-register {
  width: 74px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 20px;
  left: 29px;
  font-family: Kameron;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.accedi {
  width: 132px;
  height: 62px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 80%;
  overflow: hidden;
}
.rettangoloa {
  width: 132px;
  height: 62px;
  background: rgba(255,32,110,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.button-accedi {
  width: 52px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 22px;
  left: 40px;
  font-family: Kameron;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
/* Rectangle */

.cartina{
	position: absolute;
	width: 482px;
	height: 547px;
	left: 55%;
	top:87%;
}
.rettangolodown {
  width: 100%;
  height: 989px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 2px;
}
.boxcerca {
  width: 783px;
  height: 239px;
  background: rgba(249,52,52,0.25);
  opacity: 1;
  position: absolute;
  top: 55%;
  left: 0px;
  overflow: hidden;
}
.buttoncerca {
  width: 159px;
  height: 40px;
  background: rgba(255,32,110,1);
  opacity: 1;
  position: absolute;
  top: 67%;
  left: 535px;
}
.dove {
  width: 43px;
  color: rgba(15,15,15,1);
  position: absolute;
  top: 60%;
  left: 22.2%;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v39_14 {
  width: 200px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 440px;
  left: 295px;
  border: 2px solid rgba(255,255,255,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v39_15 {
  width: 200px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 440px;
  left: 55px;
  border: 1px solid rgba(207,207,207,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 0px 0px rgba(1, 0.125490203499794, 0.4313725531101227, 1);
  overflow: hidden;
}
.lavoro {
  width: 123px;
  color: rgba(15,15,15,1);
  position: absolute;
  top: 60%;
  left: 4.3%;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}

.cerca {
  width: 50px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 452px;
  left: 589px;
  font-family: Kameron;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v101_38 {
  width: 316px;
  height: 142px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1269px;
  left: 7px;
}
.v39_31 {
  width: 67px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 16px;
  left: 249px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v39_32 {
  width: 159px;
  position: relative;
  top: 0px;
  left: 0px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Bungee Shade;
  font-weight: Regular;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v39_34 {
  width: 15px;
  color: rgba(255,0,0,1);
  position: absolute;
  top: 40px;
  left: 33px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Bungee Shade;
  font-weight: Regular;
  font-size: 35px;
  opacity: 1;
  text-align: center;
}
.v39_35 {
  width: 65px;
  color: rgba(91,91,100,1);
  position: absolute;
  top: 60px;
  left: 249px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v39_36 {
  width: 61px;
  color: rgba(91,91,100,1);
  position: absolute;
  top: 41px;
  left: 249px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.Logo {
  /*width: 330px;
  height: 206px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 79px;
  left: 70%;
  border-top-left-radius: 68px;
  border-top-right-radius: 68px;
  border-bottom-left-radius: 68px;
  border-bottom-right-radius: 68px;
  overflow: hidden;*/
  /* Logo1 1 */

	position: absolute;
	width: 330px;
	height: 206px;
	left:60%;
	top: 2%;
	background: url(Logo1.png);
	border-radius: 68px;
}


/* vietnamese */
@font-face {
  font-family: 'Bungee Shade';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Bungee Shade'), local('BungeeShade-Regular'), url(https://fonts.gstatic.com/s/bungeeshade/v6/DtVkJxarWL0t2KdzK3oI_jkc5ijTnwE.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Bungee Shade';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Bungee Shade'), local('BungeeShade-Regular'), url(https://fonts.gstatic.com/s/bungeeshade/v6/DtVkJxarWL0t2KdzK3oI_jkc5yjTnwE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Bungee Shade';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Bungee Shade'), local('BungeeShade-Regular'), url(https://fonts.gstatic.com/s/bungeeshade/v6/DtVkJxarWL0t2KdzK3oI_jkc6SjT.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
